.imgbox{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    /* height:600px; */
}
#aroundtext{
    text-shadow: 3px 3px 0 white,-3px -3px 0 white,3px -3px 0 white,-3px  3px 0 white,3px  3px 0 white;
}
.likebody{
    /* position: relative; */
    margin:0;
    /* height:50vw */
}
.citybackground{
    /* position: absolute;
    left:0;
    top:0;
    width:100%; */
    /* height:100%; */
    width:100%;
    /* height:1400px; */
    opacity: 0.5;
    z-index: -1;
}
.cityweatherback{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    opacity: 0.5;
    z-index: -1;
}
.container{
    position: relative;
}
.citytitle{
    text-align: center; 
    font-weight: bold;
    font-size:80px;
    font-family:Trebuchet MS, Helvetica, sans-serif;
}
.boximgs{
    height:300px;
    
    position: relative;
}
.boximgs img{
    width:100%;
    z-index: 0;
    
    /* opacity: 0.4; */
    
}
.arrowtop{
    position: fixed;
    right:0;
    bottom:0;
    width:100px;
    z-index: 1;
}
.centerbox{
    position: absolute;
    width:100%;
    z-index: 1;
}
.cityimg_text{
    z-index: 2;
    font-size:40px;
    font-weight:bold;
    text-align: center;
    font-family:Trebuchet MS, Helvetica, sans-serif;
}
/* #hidepop{
    display:none;
} */
#showpop{
    color:white;
    
    /* background-color:white; */
}
#hidepop{
    background-color:white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height:250px;
}
.imgbackground{
    background-color:white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
#showpop:hover {
    color:black
    
}
#showpop:hover .citypageimg{
    opacity: 0.5;
}
.citypageimg{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height:250px;
}
#showpop:hover +#hidepop{
    display:block;
}



