.boximgs{
    height:300px;
    
    position: relative;
}
.boximgs img{
    width:100%;
    z-index: 0;
    opacity: 0.4;
    
}
.centerbox{
    position: absolute;
    width:100%;
    z-index: 1;
}
.cityimg_text{
    z-index: 2;
    font-size:40px;
    font-weight:bold;
    text-align: center;
    font-family:Trebuchet MS, Helvetica, sans-serif;
}



